<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Mini Blog</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Main</a>
    </nav>
    
    {% with messages = get_flashed_messages(with_messages = true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock content %}
</body>
</html>