{% extends "base.html" %}

{% block conteudo %}
<div class="container">
    <h1>🍽️ Lista de Pedidos</h1>
    {% if existe_pedidos %}
    <table>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                   <td>{{loop.index}}</td> 
                   <td>Mesa: {{pedido.mesa}}</td>
                   <td>Pedido: {{pedido.prato|title}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {{hoje|datetime_format("%B %Y")}}
</div>

{% endblock %}